
# -- MANDATORY -- #
# API Port & Json Web Token (JWT) secret key
SERVER_PORT=3000
JWT_SECRET=some-json-web-token-secret-key

# -- OPTIONAL -- #
# (Deprecated) | Bearer Secret Token |
# Was used in dev before 'Users Table' & 'JWT_Auth' was implemented. Not used by the website anymore, some 'CRUD' API call still uses Bearer_Auth.
# Make sure the routes uses Bearer_Auth. (Path to routes: ./src/Backend/src/routes/*/index.ts)
ADMIN_TOKEN=some-bearer-token-secret-key
